body {
    background-color: white;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: black;

  }
 
  
  /* Typeography General*/
  h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 10px 10px 10px ;
    height: 3px;
    
  }
  
  @media only screen and (min-width: 35em) {
    h1 {
      font-size: 7em;
      margin: 2em 1em;
    }
  }
  
  h2 {
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: black;
  }
  
  p {
    background-color: gray;
    line-height: 1.6em;
    color: black;
  }
  
  /* ---- Layout Rules ---- */
  main {
    margin: 10vh 1em 10vh;
  }
  
  .main-hero {
    min-height: 40vh;
    padding-top: 3em;
    justify-content: center;
    align-items: center;
    
  }
  
  section {
    position: relative;
    min-height: 40vh;
    width: 100%;
  }
  
  /* ---- Module Rules ---- */
  
  /* Navigation Styles*/
  #food {
    background: gray;
    width: auto;
    height: 60px;
    padding: 1% 1% 1%;
    font-size: 40px;
   
  }
  
  @media screen and (max-width: 768px) {
    .mobile__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }
  /* End of Responsive Navbar */
  
  /* Header Styles */
  .page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  
  /* ---- Theme Rules ---- */
  /* Landing Container Styles */
  .landing__container {
    padding: 1em;
    text-align: left;
    background-color: gray;
  }
  
  @media only screen and (min-width: 35em) {
    .landing__container {
      max-width: 80em;
      padding: 4em;
      max-height: 18em;
    }
  }
  
  section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
  
  /* Background Circles */
  /* Note that background circles are created with psuedo elements before and after */
  /* Circles appear to be random do to use of :nth-of-type psuedo class */
  section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 10vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
  }
  
  /* ---- Theme State Rules ---- */
  /* Section Active Styles */
  /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
 
  section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
  }
  
  section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
  }
  
 
  